<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <input type="checkbox" id="sidebar-toggle" class="sidebar-toggle">
    <div class="col">
      <div style="background-color: transparent; border: none;" class="sidebar">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/survey">Survey</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/analytics">Analytics</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/student-list">Student List</a>
      </div>
    </div>

    <!-- Main content -->
    <div class="main-content">
   <div class="col">
      <div class="card" style="width: 100%; margin-top: 8rem; background-color: #a0deff17; outline: 6px solid rgba(255, 255, 255, 0); border: none; border-radius: 20px; box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);">
        <!-- Remaining content as it is -->
        <div class="card-header">
          <p>Data Analysist</p>
          <div class="create-survey">
            <a type="button" class="btn" style="border-color: black;" routerLinkActive="active" (click)="copyLink('Gordoncollege')">Get Survey Link</a>
          </div>
        </div>
    

      </div>
    
      <div style="background-color: #a0deff17; outline: 6px solid rgba(255, 255, 255, 0); border: none; border-radius: 20px; margin-top: 10px; padding-top:10px; box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)"class="card mt-3">
        <div class="card-body">
          
            <div style=" padding-bottom: 0px" class="card-header">
              <p style="color:#EE7214; font-size: 30px;" class="text-center">PROFILE</p>
            </div>
                <div class="mb-3">
                    <label style="color: #025464;" class="textmb-1" for="lastname">Last Name:</label>
                    <input type="text" class="form-control mb-3" name="lastname" id="respondentLastName" [(ngModel)]="respondentLastName" placeholder="Last Name">
                    
                    <label style="color: #025464;" class="textmb-1" for="firstname">First Name:</label>
                    <input type="text" class="form-control mb-3" name="firstname" id="respondentFirstName" [(ngModel)]="respondentFirstName" placeholder="First Name">
                    
                    <label style="color: #025464;" class="textmb-1" for="suffix">Suffix:</label>
                    <select class="form-control mb-3" id="respondentSuffix" [(ngModel)]="respondentSuffix">
                      <option value="">None</option>
                      <option value="Jr.">Jr.</option>
                      <option value="Sr.">Sr.</option>
                      <option value="II">II</option>
                      <option value="III">III</option>
                    </select>

                    <label style="color: #025464;" class="text mb-1" for="username">Email:</label>
                    <input type="text" class="form-control" name="email" id="respondentEmail" [(ngModel)]="respondentEmail" placeholder="example@gmail.com">

                    <label style="color: #025464;" class="text mb-1" for="username">Home Address:</label>
                    <input type="text" class="form-control" name="email" id="respondentAddress" [(ngModel)]="respondentAddress" >


                    <label style="color: #025464;" class="text mb-1" for="username">Contact No.</label>
                    <input type="text" class="form-control" name="contact" id="respondentContact" [(ngModel)]="respondentContact" placeholder="0000-000-0000">

                    <label style="color: #025464;" class="textmb-1" for="username">Civil Status:</label>
                    <select class="form-control mb-3" id="respondentCivil" [(ngModel)]="respondentCivil">
                      <option value="Single">Single</option>
                              <option value="Married">Married</option>
                              <option value="In a Relationship">In a Relationship</option>
                              <option value="Widowed">Widowed</option>
                              <option value="Widower">Widower</option>
                              <option value="Seperated">Seperated</option>
                          </select>

                    <label style="color: #025464;" class="textmb-1" for="username">Sex:</label>
                    <select class="form-control mb-3" id="respondentSex" [(ngModel)]="respondentSex">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>

                    <label style="color: #025464;" class="textmb-1" for="username">Graduated Course:</label>
                    <select class="form-control mb-3" id="respondentCourse" [(ngModel)]="respondentCourse">
                        <option value="BSCS">BSCS</option>
                        <option value="BSIT">BSIT</option>
                        <option value="BSEMC">BSEMC</option>
                        <option value="ACT">ACT</option>
                    </select>

                    <label style="color: #025464;" class="textmb-1" for="username">Year Graduated</label>
                          <select class="form-control mb-3" id="respondentYrgrad" [(ngModel)]="respondentYrgrad">
                              <option value="2019">2019</option>
                              <option value="2020">2020</option>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                              <option value="2023">2023</option>
                              <option value="2024">2024</option>
                              <option value="2025">2025</option>
                              <option value="2026">2026</option>
                          </select>
                   
                </div>
        </div>
      </div>
      <div style="background-color: #a0deff17; outline: 6px solid rgba(255, 255, 255, 0); border: none; border-radius: 20px; margin-top: 10px;margin-bottom: 8rem; padding-top:10px; box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)"class="card mt-3">
        <div class="card-body">
          
            <div style=" padding-bottom: 0px" class="card-header">
              <p style="color:#EE7214; font-size: 30px;" class="text-center">EMPLOYMENT DATA</p>
            </div>
                <div class="mb-3">
                    
                    <label style="color: #025464;" class="textmb-1" for="username">Work Status:</label>
                    <select class="form-control mb-3" id="respondentStatus" [(ngModel)]="respondentStatus">
                        <option value="Employed">Employed</option>
                        <option value="Unemployed">Unemployed</option>
                        <option value="Seeking Employment">Seeking Employment</option>
                    </select>

                    <label style="color: #025464;" class="text mb-1" for="username">Occupation:</label>
                    <input type="text" class="form-control" name="email" id="respondentOccupation" [(ngModel)]="respondentOccupation" placeholder="If none type N/A">

                    <label style="color: #025464;" class="textmb-1" for="username">Place of Work (n/a if Unemployed)</label>
                    <select class="form-control mb-3" id="respondentWorkplace" [(ngModel)]="respondentWorkplace">
                        <option value="Local">Local</option>
                        <option value="Abroad">Abroad</option>
                        <option value="n/a">n/a</option>
                    </select>

                    <label style="color: #025464;" class="textmb-1" for="username">montly Income Range: (n/a if Unemployed)</label>
                    <select class="form-control mb-3" id="respondentCourse" [(ngModel)]="respondentIncome">
                      <option value="10000">Below 10K – 10,000</option>
                      <option value="20000">10,001 - 20,000</option>
                      <option value="30000">20,001 – 30,000</option>
                      <option value="40000">30,001 – 40,000</option>
                      <option value="50000">40,001 – 50,000</option>
                      <option value="60000">50,001 – Above</option>
                      <option value="0">n/a</option>
                    </select>

                    <label style="color: #025464;" class="textmb-1" for="username">Was the curriculum you had in college relevant to your first job? (n/a if Unemployed)</label>
                    <select class="form-control mb-3" id="respondentWorkrelevant" [(ngModel)]="respondentWorkrelevant">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="n/a">n/a</option>
                    </select>
                    
                </div>
        </div>
      
      </div>
      
    </div>
  </div>
</div>
</div>