<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <input type="checkbox" id="sidebar-toggle" class="sidebar-toggle">
    <div class="col">
      <div style="background-color: transparent; border: none;" class="sidebar">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/survey">Survey</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/analytics">Analytics</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/student-list">Student List</a>
      </div>
    </div>
  </div>
</div>
  
  <div class="col" id="Analysis-content1">
    <div class="card" style="margin-top: 5rem; background-color: #a0deff17;outline: 6px solid rgba(255, 255, 255, 0); border: none; border-radius: 20px; box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)">
      <div style="background-color: #a0deff17; padding-top: 10px;" class="card-header">
        <p style="color: #EE7214; font-size: 40px;" class="text-center">Data Interpretation</p>
      </div>
   
      <div style="background-color: #bdcfd817; padding-top: 10px; padding-bottom:10px" class="card">
        <!-- <div class="container">
          <h5 class="card-title" style="font-weight: bolder; padding-bottom: 4px;">Respondent List</h5>
  
          <button class="btn2" type="button" (click)="toggleCollapse()">
            Toggle Respondent List ⬇
          </button>
        </div> -->
        
        <div class="filter-controls" style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 0px; padding-bottom: 7px; align-items: center;">
          <select class="form-control" [(ngModel)]="selectedCourse" (change)="applyFiltersAndUpdateCharts()">
            <option value="ALL CATEGORIES">ALL CATEGORIES</option>
            <option value="BSCS">BSCS</option>
            <option value="BSIT">BSIT</option>
            <option value="BSEMC">BSEMC</option>
            <option value="ACT">ACT</option>
          </select>
          <select class="form-control" [(ngModel)]="selectedBatchYr" (change)="applyFiltersAndUpdateCharts()">
            <option value="ALL YEARS">ALL YEARS</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
          </select>
        </div>
        
        
        <div id="respondentListCollapse" [class.collapsed]="isCollapsed" class="position-absolute w-100 bg-white p-3" style="z-index: 1;">
          <div class="table-responsive"> 
            <table class="table">
              <thead>     
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Batch Yr.</th>
                  <th scope="col">Program</th>
                  <th scope="col">Sex</th>
                  <th scope="col">Civil Status</th>
                  <th scope="col">Work Place</th> 
                  <th scope="col">Salary</th>
                  <th scope="col">Work Status</th>
                  <th scope="col">Occupation</th>  
                  <th scope="col">Course Related Job</th>  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let StudentItem of filteredStudents">
                  <td>{{ StudentItem.id }}</td>
                  <td>{{ StudentItem.batchYr }}</td>
                  <td>{{ StudentItem.program }}</td>
                  <td>{{ StudentItem.sex }}</td>
                  <td>{{ StudentItem.civil_Status }}</td>
                  <td>{{ StudentItem.work_place }}</td>
                  <td>{{ StudentItem.salary }}</td>
                  <td>{{ StudentItem.work_Status }}</td>
                  <td>{{ StudentItem.occupation }}</td>
                  <td>{{ StudentItem.firstjob_curriculum }}</td>
                </tr>          
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="stats">
          <div class="stat-card" style="background-color: white;">
            <div class="stat-icon">🏢</div>
            <div class="stat-info">
              <h4>Employment Rate</h4>
              <p>{{ employmentrate }}</p>
            </div>
          </div>
          <div class="stat-card" style="background-color: white;">
            <div class="stat-icon">🚺</div>
            <div class="stat-info">
              <h4>Female</h4>
              <p>{{ femaleCount }}</p>
            </div>
          </div>
          <div class="stat-card" style="background-color: white;">
            <div class="stat-icon">🚹</div>
            <div class="stat-info">
              <h4>Male</h4>
              <p>{{ maleCount }}</p>
            </div>
          </div>
          <div class="stat-card" style="background-color: white;">
            <div class="stat-icon">📨</div>
            <div class="stat-info">
              <h4>Respondents</h4>
              <p>{{ filteredStudents.length }}</p>
            </div>
          </div>
          
          
        </div>
        
        
          
          
        </div>
      </div>
    </div>
<!-- Main Dashboard Content -->
   <!-- src/app/dashboard/dashboard.component.html -->
  
  <div class="col" id="Analysis-content1">
      <div class="card" style="margin-top: .5rem; background-color: #a0deff17; outline: 6px solid rgba(255, 255, 255, 0); border: none; border-radius: 20px; box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)">
        <div class="card-body2 my-3 fade-in-left">
          <div class="d-flex " >
            <div class="chart-container">
              <div class="HbarChartContainer">
                <div id="barChart1" class="chart"></div>
              </div>
            </div>
            <div class="card" style="border: none;">
              <div class="chart-container">
                <div id="pieChart1" class="chart"></div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="paragraph  align-items-center" style="background-color: rgba(240, 248, 255, 0); border-radius: 20px; padding-left: 5rem; padding-right: 5rem;">
          <div>
            <h4 class="text" style=" color: chocolate;">Observations:</h4>
            <p style="text-align: justify;">{{ employmentStatistics }}</p>
            <h4 class="text" style=" color: chocolate;">Interpretation:</h4>
            <p style="text-align: justify;">{{ employmententerpretation }}</p>
          </div>
        </div>
      </div>
    </div>
  


  <div class="col" id="Analysis-content1">
    <div class="card" style="margin-top: .5rem; background-color: #a0deff17; outline: 6px solid rgba(255, 255, 255, 0); border: none; border-radius: 20px; box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)">
      <div class="card-body2 my-3 fade-in-left">
        <div class="d-flex " >
          <div class="chart-container">
            <div class="HbarChartContainer">
              <div id="barChart2" class="chart"></div>
            </div>
          </div>
          <div class="card" style="border: none;">
            <div class="chart-container">
              <div id="pieChart2" class="chart"></div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="paragraph  align-items-center" style="background-color: rgba(240, 248, 255, 0); border-radius: 20px; padding-left: 5rem; padding-right: 5rem;">
        <div>
          <h4 class="text" style=" color: chocolate;">Observations:</h4>
          <p style="text-align: justify;">{{ correlationStatistics }}</p>
          <h4 class="text" style=" color: chocolate;">Interpretation:</h4>
          <p style="text-align: justify;">{{ correlationInterpretation }}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="col" id="Analysis-content1">
    <div class="card" style="margin-top: .5rem; background-color: #a0deff17; outline: 6px solid rgba(255, 255, 255, 0); border: none; border-radius: 20px; box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)">
      <div class="card-body2 my-3 fade-in-left">
        <div class="d-flex " >
          <div class="chart-container">
            <div class="HbarChartContainer">
              <div id="barChart3" class="chart"></div>
            </div>
          </div>
          <div class="card" style="border: none;">
            <div class="chart-container">
              <div id="pieChart3" class="chart"></div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="paragraph  align-items-center" style="background-color: rgba(240, 248, 255, 0); border-radius: 20px; padding-left: 5rem; padding-right: 5rem;">
        <div>
          <h4 class="text" style=" color: chocolate;">Observations:</h4>
          <p style="text-align: justify;">{{ employmentgenderStatistics }}</p>
          <h4 class="text" style=" color: chocolate;">Interpretation:</h4>
          <p style="text-align: justify;">{{ employmentgenderenterpretation }}</p>
        </div>
      </div>
    </div>
  </div>

